:root {
    --green: #00704A;
    --dark-green: #1E3932;
    ---gold: #CBA258;
    ---light-green: #D4E9E2;
    ---gray: #F1F8F6;
    --text-gray: #4A4A4A;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

body {
    overflow-x: hidden;
}

.btn, a, .tab {
    transition: all 0.3s ease;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
}

.nav-container {
    max-width:100%;
    margin: 0 auto;
    padding: 0 40px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    height: 40px;
    position: relative;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 70;
    font-size: 20px;
}

.nav-links a.active {
    color: var(-green);
}

.quality {
    padding: 4px 2px;
    background-color: var(--background-light);
    color: #00704A;
    text-align: center;
}

.quality-container{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 